[submodule "site/themes/ananke"]
	path = site/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "site/themes/purehugo"]
	path = site/themes/purehugo
	url = https://github.com/dplesca/purehugo.git
